* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-image: url('./img/crowd.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom; 
    overflow: hidden;
}

.container {
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.keys {
    display: flex;
    height: 20vh;
    font-family: sans-serif;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 0rem 2rem;
}

.key {
    display: block;
    width: 8rem;
    border: .3rem solid rgb(0, 0, 0);
    padding: .5rem;
    background-color: rgb(84, 84, 84, .5);
    text-align: center;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    text-shadow: -1px -1px 0px rgb(255, 255, 255);
    transition: all .08s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.key span {
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(0, 255, 60);
    text-transform: uppercase;
    text-shadow: 1px 1px rgb(3, 167, 74);
    text-align: center;
}

.playing {
    transform: scale(1.2);
    border: .3rem solid rgb(255, 238, 0);
    background-color: rgb(84, 84, 84, 1);
}